@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@300;600&family=Playfair+Display:ital,wght@1,500;1,800;1,900&family=Poppins:wght@500;700&family=Quicksand:wght@300;700&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./image/tim-mossholder-07uiqD9LS6U-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 900px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.score {
  margin-bottom: 20px;
  font-size: 50px;
}

.player,
.computer {
  font-weight: bold;
}

.chooze {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 50px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}