

@font-face {
  font-family: "Minecraft font";
  src: url("./fonts/minecraft-ten-font-cyrillic.ttf");
}

*{
    margin: 0;
    padding: 0;
}

h1{
  font-size: 70px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Minecraft font, sans-serif;
  background-image: url('./image/red-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: red;
}

.wrapper {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.2);  */
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 900px;
  /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2); */
  
}

.score {
  margin-bottom: 20px;
  font-size: 50px;
}

.player,
.computer {
  font-weight: bold;
}

.chooze {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.rock, .paper, .scissors {
  font-family: Minecraft font, sans-serif;
  background-color: #080808;
  color: red;
  border: none;
  margin-top: 40px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 26px;
  transition: background-color 0.9s;
}



.rock:hover, .paper:hover, .scissors:hover {
  background-color: #ff0000;
  color: #080808;
  font-size: 40px;
}

.rock:active, .paper:active, .scissors:active {
background-color: #470505;
border-bottom: 2px solid #470505;
}

.restart{
  font-family: Minecraft font, sans-serif;
  background-color: red;
  color: rgb(85, 3, 16);
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 40px;
  transition: 1.1s ease-in-out;
}

.restart:hover{
  border: 3px solid white;
  border-radius: -67;
  text-transform:inherit;
  background-color: rgb(85, 3, 16);
  color:#080808;
  border-radius: 2px;
  left: -50px;
}